
    

    

 
      <div class="container">
         
         <div class="col-xs-4"><img src="assets/img/note.png" width="150" height="120"> <h3 class="h3">مبيعات اليوم</h3> </div>

        <div class="col-xs-4"><img src="assets/img/products.png" width="150" height="120"> <h3>المواد</h3></div>

         <div class="col-xs-4"><img src="assets/img/facture.png" width="150" height="120"><h3>فاتورات</h3></div>

        <div class="col-xs-4"><a href="clients"><img src="assets/img/client.png" width="150" height="120"></a><h3>حرفائنا</h3></div>

        <div class="col-xs-4"><img src="assets/img/note-2.png" width="150" height="120"> <h3>حرفاء الأقساط</h3></div>

        <div class="col-xs-4"><img src="assets/img/print.gif" width="150" height="120"><h3>إطبع</h3></div>
     

      </div>

  
